<form #userRegister = "ngForm" (ngSubmit)="createUser(userRegister)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" #email class="form-control" id="exampleInputEmail1" [(ngModel)]="myappservice.newUser.email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="myappservice.newUser.password" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label class="form-label" for="nameInput">First name and last name</label>
        <input type="text" #name class="form-control" name="name" [(ngModel)]="myappservice.newUser.name" id="nameInput">
    </div>
    <div class="mb-3">
        <label class="form-label" for="selectGender">Gender</label>
        <select class="form-select" #option aria-label="Default select example" name="option" id="selecGender">
            <option required selected>Open this select menu</option>
            <option value="Girl">Girl</option>
            <option value="Man">Man</option>
            <option value="Other">Other</option>
          </select>
    </div>
    

    <button type="submit" class="btn btn-primary" id="buttonSubmit">Register</button>
</form>